.app {
    background-color: #101828;
    display: flex;
    height: 876px;
    width: 1521px;
}

.app .container {
    background-color: #000000;
    border: 8px solid;
    border-color: #1d2838;
    border-radius: 48px;
    box-shadow: 0px 25px 50px -12px #00000040;
    height: 844px;
    margin-left: 565.4px;
    margin-top: 16px;
    overflow: hidden;
    position: relative;
    width: 390px;
}

.app .login-page {
    background-color: #f4e4c1;
    height: 828px;
    left: 8px;
    position: absolute;
    top: 8px;
    width: 374px;
}

.app .container-wrapper {
    align-items: flex-start;
    background-color: #6b1515;
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0px 4px 6px -4px #0000001a, 0px 10px 15px -3px #0000001a;
    display: flex;
    flex-direction: column;
    height: 284px;
    left: 0;
    padding: 48px 24px 0px;
    position: absolute;
    top: 0;
    width: 374px;
}

.app .div {
    align-self: stretch;
    height: 156px;
    position: relative;
    width: 100%;
}

.app .heading {
    display: flex;
    height: 40px;
    left: 118px;
    position: absolute;
    top: 80px;
    width: 89px;
}

.app .text-wrapper {
    color: #ffffff;
    font-family: "Arimo-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    height: 40px;
    letter-spacing: 0.90px;
    line-height: 40px;
    margin-top: -3px;
    white-space: nowrap;
    width: 90px;
}

.app .paragraph {
    display: flex;
    height: 20px;
    left: 81px;
    position: absolute;
    top: 136px;
    width: 165px;
}

.app .text-wrapper-2 {
    color: #f4e4c1;
    font-family: "Arimo-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1.2px;
    white-space: nowrap;
    width: 166px;
}

.app .img {
    height: 64px;
    left: 131px;
    position: absolute;
    top: 0;
    width: 64px;
}

.app .container-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 584px;
    left: 0;
    padding: 0px 24px;
    position: absolute;
    top: 244px;
    width: 374px;
}

.app .container-3 {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 8px 10px -6px #0000001a, 0px 20px 25px -5px #0000001a;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 470.4px;
    padding: 24px 24px 0px;
    position: relative;
    width: 100%;
}

.app .div-wrapper {
    align-self: stretch;
    height: 28px;
    position: relative;
    width: 100%;
}

.app .text-wrapper-3 {
    color: #6b1515;
    font-family: "Arimo-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 69px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    text-align: center;
    top: -2px;
    white-space: nowrap;
}

.app .form {
    align-self: stretch;
    height: 278.4px;
    position: relative;
    width: 100%;
}

.app .container-4 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 79px;
    left: 0;
    position: absolute;
    top: 0;
    width: 278px;
}

.app .div-2 {
    align-self: stretch;
    height: 20px;
    position: relative;
    width: 100%;
}

.app .text-wrapper-4 {
    color: #354152;
    font-family: "Arimo-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
}

.app .container-5 {
    align-self: stretch;
    height: 51.2px;
    position: relative;
    width: 100%;
}

.app .email-input {
    align-items: center;
    border: 1.6px solid;
    border-color: #e5e7eb;
    border-radius: 10px;
    display: flex;
    height: 51px;
    left: 0;
    overflow: hidden;
    padding: 12px 16px 12px 40px;
    position: absolute;
    top: 0;
    width: 278px;
}

.app .text-wrapper-5 {
    color: #0a0a0a80;
    font-family: "Arimo-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.app .icon {
    height: 20px;
    left: 12px;
    position: absolute;
    top: 16px;
    width: 20px;
}

.app .vector {
    height: 24.99%;
    left: 4.17%;
    position: absolute;
    top: 25.00%;
    width: 83.33%;
}

.app .vector-2 {
    height: 66.67%;
    left: 4.17%;
    position: absolute;
    top: 12.50%;
    width: 83.33%;
}

.app .container-6 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 79px;
    left: 0;
    position: absolute;
    top: 95px;
    width: 278px;
}

.app .password-input {
    align-items: center;
    border: 1.6px solid;
    border-color: #e5e7eb;
    border-radius: 10px;
    display: flex;
    height: 51px;
    left: 0;
    overflow: hidden;
    padding: 12px 48px 12px 40px;
    position: absolute;
    top: 0;
    width: 278px;
}

.app .vector-3 {
    height: 45.83%;
    left: 8.33%;
    position: absolute;
    top: 41.67%;
    width: 75.00%;
}

.app .vector-4 {
    height: 37.50%;
    left: 25.00%;
    position: absolute;
    top: 4.17%;
    width: 41.67%;
}

.app .button {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 20px;
    left: 246px;
    position: absolute;
    top: 16px;
    width: 20px;
}

.app .vector-5 {
    height: 58.33%;
    left: 4.17%;
    position: absolute;
    top: 16.67%;
    width: 83.34%;
}

.app .vector-6 {
    height: 25.00%;
    left: 33.33%;
    position: absolute;
    top: 33.33%;
    width: 25.00%;
}

.app .button-2 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    height: 20px;
    left: 169px;
    position: absolute;
    top: 193px;
    width: 109px;
}

.app .text-wrapper-6 {
    color: #6b1515;
    font-family: "Arimo-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    letter-spacing: 0;
    line-height: 20px;
    margin-left: -2px;
    margin-top: -1.2px;
    text-align: center;
    white-space: nowrap;
    width: 114px;
}

.app .button-3 {
    all: unset;
    background-color: #6b1515;
    border-radius: 10px;
    box-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
    box-sizing: border-box;
    display: flex;
    height: 48px;
    left: 0;
    position: absolute;
    top: 230px;
    width: 278px;
}

.app .text-wrapper-7 {
    color: #ffffff;
    font-family: "Arimo-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 24px;
    letter-spacing: 0;
    line-height: 24px;
    margin-left: 111.9px;
    margin-top: 9.8px;
    text-align: center;
    white-space: nowrap;
    width: 54px;
}

.app .container-7 {
    align-items: center;
    align-self: stretch;
    display: flex;
    gap: 16px;
    height: 20px;
    padding: 0px 2.29e-05px 0px 0px;
    position: relative;
    width: 100%;
}

.app .container-8 {
    background-color: #d1d5dc;
    flex: 1;
    flex-grow: 1;
    height: 1px;
    position: relative;
}

.app .text {
    height: 20px;
    position: relative;
    width: 13.07px;
}

.app .text-wrapper-8 {
    color: #697282;
    font-family: "Arimo-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: -1px;
    white-space: nowrap;
}

.app .paragraph-2 {
    align-self: stretch;
    height: 24px;
    position: relative;
    width: 100%;
}

.app .don-t-have-an {
    color: #495565;
    font-family: "Arimo-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 9px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 149px;
}

.app .button-4 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    height: 24px;
    left: 158px;
    position: absolute;
    top: 0;
    width: 111px;
}

.app .text-wrapper-9 {
    color: #6b1515;
    font-family: "Arimo-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 24px;
    letter-spacing: 0;
    line-height: 24px;
    margin-left: -4px;
    margin-top: -2.2px;
    text-align: center;
    white-space: nowrap;
    width: 118px;
}

.app .paragraph-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    height: 15.99px;
    position: relative;
    width: 100%;
}

.app .p {
    color: #495565;
    flex: 1;
    font-family: "Arimo-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
}

.app .container-9 {
    background-color: #000000;
    border-radius: 0px 0px 24px 24px;
    height: 28px;
    left: 115px;
    position: absolute;
    top: 8px;
    width: 160px;
}
